<template>
<div>
    <div id="home">
        <div class="showImage">
            <img :src="image" class=" img" />
        </div>
        <div class="info">
            <h1>Shopping mall products</h1>
            <div class="product-status">
                <div class="status">
                    <div class="inStock"></div>
                    InStock
                </div>
                <div class="status">
                    <div class="almostSoldOut"></div>
                    Almost-Sold-Out
                </div>
                <div class="status">
                    <div class="outOfStock"></div>
                    Out-Of-Stock
                </div>
            </div>
            <div class="product-available">
                <span>***There are {{ productLength }} products in Store:</span><br />
                <span class="in-Stock">
                    <i class="fas fa-dot-circle"></i>
                    {{ inStock }} in-Stock,
                </span>
                <br />
                <span class="almost-Sold-Out">
                    <i class="fas fa-dot-circle"></i>
                    {{ almostSoldOut }} almost-Sold-Out,
                </span>
                <br />
                <span class="out-Of-Stock">
                    <i class="fas fa-dot-circle"></i>
                    {{ outOfStock }} out-Of-Stock
                </span>
            </div>
            <div class="all-products">
                <div class="product" :class="{
              productInStock: product.inventory > 10,
              productAlmostSoldOut:
                product.inventory <= 10 && product.inventory > 0,
              productOutOfStock: product.inventory == 0,
            }" v-for="product in products.products" :key="product.id" @mouseover="updateImage_Button(product)" @click="showDetail(product)">
                    <router-link to="/product-detail">
                        {{ product.title }}
                    </router-link>
                </div>
            </div>
            <div class="addToCart">
                <button class="button" :disabled="currentProductInventory == 0" @click="addToCart">
                    Add-To-Cart
                </button>
            </div>
        </div>
        <div class="cart">
            <span>Cart({{ Cart }})</span>
        </div>
    </div>
    <reviewForm />
</div>
</template>

<script>
import {
    mapActions,
    mapState,
    mapGetters
} from "vuex";
import reviewForm from "../components/reviewForm.vue";
export default {
    components: {
        reviewForm,
    },
    data() {
        return {
            image: require("../assets/img/Watch.jpg"),
            currentProductInventory: 0,
        };
    },
    methods: {
        ...mapActions([
            "loadProducts",
            "showProductDetail",
            "selectQuantityProductToBuy",
        ]),
        updateImage_Button(product) {
            this.image = product.image;
            this.currentProductInventory = product.inventory;
        },
        showDetail(product) {
            this.showProductDetail(product);
        },
        addToCart() {
            this.selectQuantityProductToBuy();
        },
    },
    computed: {
        ...mapState(["products", "Cart"]),
        ...mapGetters(["productLength", "inStock", "almostSoldOut", "outOfStock"]),
    },
    created() {
        this.loadProducts();
    },
};
</script>

<style scoped>
#home {
    display: flex;
}

.showImage,
.info {
    width: 40%;
}

.info h1 {
    text-align: center;
    font-size: 25px;
    color: #cd0000;
    margin: 6px;
}

.status {
    display: inline-block;
    margin: 7px;
}

.product-available {
    font-size: 20px;
    font-weight: normal;
    color: #cd0000;
}

.product-available span {
    padding: 5px;
    margin: 5px;
    line-height: 1.4;
}

.product-available i {
    transform: scale(0.7);
}

.in-Stock {
    color: rgb(119, 113, 113);
}

.almost-Sold-Out {
    color: orange;
}

.out-Of-Stock {
    color: red;
}

.inStock {
    background: rgb(228, 221, 221);
    border: 1px solid black;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.almostSoldOut {
    background: orange;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.outOfStock {
    background: red;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.showImage {
    text-align: center;
    padding: 10px;
}

.img {
    width: 250px;
    height: 250px;
    border: 1px solid #04bf9d;
}

.img:hover {
    transform: scale(1.05);
    transition: 0.3s linear;
}

.all-products {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

.product {
    display: inline-block;
    margin: 3px;
    border: 1px solid #04bf9d;
    padding: 3px;
    text-align: center;
    background: rgb(228, 221, 221);
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(141, 3, 3);
}

.product:hover {
    transform: scale(1.05);
    transition: 0.3s linear;
}

.productInStock {
    background: rgb(228, 221, 221);
}

.productAlmostSoldOut {
    background: orange;
}

.productOutOfStock {
    background: red;
}

.addToCart {
    text-align: center;
}

.button {
    position: relative;
    left: 10px;
    top: 140px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(146, 138, 138);
    border-radius: 5px;
    border: 1px solid #04bf9d;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.3s linear;
}

.cart {
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    margin-top: 7px;
}

.cart span {
    border: 1px solid #04bf9d;
    background: pink;
    padding: 7px;
}
</style>
