<template>
<div id="productDetail">
    <div class="productBrand">Product Brand : {{ productDetail.title }}</div>
    <div class="detail">
        <p>
            <i class="fas fa-globe-asia"></i>
            Made In Country: {{ productDetail.madeInCountry }}
        </p>
        <p>
            <i class="fas fa-building"></i>
            Import By Company: {{ productDetail.importByCompany }}
        </p>
        <p>
            <i class="fas fa-money-bill"></i>
            Price: {{ productDetail.price }}$
        </p>
        <p v-if="productDetail.inventory > 10">
            <i class="fas fa-boxes"></i>
            InStock
        </p>
        <p v-else-if="productDetail.inventory > 0 && productDetail.inventory <= 10">
            <i class="fas fa-boxes"></i>
            Almost Sold Out
        </p>
        <p v-else>
            <i class="fas fa-boxes"></i>
            Out of Stock
        </p>
    </div>
</div>
</template>

<script>
import {
    mapState
} from "vuex";
export default {
    name: "productDetail",
    computed: {
        ...mapState({
            productDetail: (state) => state.productDetail.product,
        }),
    },
};
</script>

<style scoped>
#productDetail {
    padding: 5px;
}

.productBrand {
    text-align: center;
    font-size: 30px;
    color: #cd0000;
    margin: 25px;
}

h1:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

i:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    color: rgb(72, 153, 156);
}

.detail {
    margin: auto;
    width: 26%;
    padding-left: 30px;
}

p {
    margin: 20px;
    font-size: 25px;
}
</style>
