<template>
<div>
    <Header />
    <router-view />
</div>
</template>

<script>
import Header from "../layout/Header.vue";
export default {
    name: "defaultLayout",
    components: {
        Header,
    },
};
</script>

<style>
* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}
</style>
