<template>
<div>
    <div class="infomation">
        <h1 class="contactTitle">OUR ADDRESS AND CONTACT</h1>
        <router-link class="info" to="/contact">Contact</router-link>
        <router-link class="info" to="/product-detail">Product-Detail</router-link>
        <router-link class="info" to="/">Home</router-link>
    </div>
    <div class="viewContact">
        <router-view />
    </div>
</div>
</template>

<script>
export default {
    name: "layoutContact",
};
</script>

<style>
h1 {
    display: inline-block;
}

.contactTitle {
    font-size: 30px;
    text-align: center;
    color: #059278;
    padding: 10px;
}

.viewContact {
    background: greenyellow;
}

.infomation {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 7.5px;
    padding-right: 10px;
}

.info {
    margin: 12px;
    float: right;
    text-decoration: none;
    color: #059278;
}
</style>
