<template>
<div>
    <div class="infomation">
        <h1 class="product-info">PRODUCT INFORMATION DETAILS</h1>
        <router-link class="info" to="/">Home</router-link>
        <router-link class="info" to="/product-detail">Product-Detail</router-link>
        <router-link class="info" to="/contact">Contact</router-link>
    </div>

    <div class="container-login">
        <router-view />
    </div>
</div>
</template>

<script>
export default {
    name: "MyNameComponent",
};
</script>

<style>
.container-login {
    background: rgb(173, 196, 196);
    background-size: cover;
}

.product-info {
    font-size: 30px;
    text-align: center;
    color: #059278;
    padding: 10px;
    display: inline-block;
}

.infomation {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 7.5px;
    padding-right: 10px;
}

.info {
    margin: 12px;
    float: right;
    text-decoration: none;
    color: #059278;
}
</style>
