<template>
<div>
    <div id="nav">
        <div class="shopping-mall">
            <router-link to="/">
                <h1>SHOPPING MALL</h1>
            </router-link>
        </div>
        <div class="infomation">
            <router-link class="info" to="/contact">Contact</router-link>
            <router-link class="info" to="/product-detail">Product-Detail</router-link>
            <router-link class="info" to="/">Home</router-link>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "Header",
};
</script>

<style scoped>
h1 {
    padding-top: 8px;
}

#nav {
    background: #04bf9d;
    display: flex;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.shopping-mall {
    width: 70%;
    text-align: center;
    font-size: 30px;
    color: #003333;
}

.infomation {
    color: #fff;
    width: 30%;
    text-align: center;
    font-size: 20px;
    padding-top: 7.5px;
}

.info {
    margin: 7px;
}
</style>
