<template>
  <div id="reviewDetail">
    <h3 v-show="review.review">
      {{ review.name }} gave {{ review.selectProduct }} review:
      {{ review.review }} and {{ review.rating }} stars review.
    </h3>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "reviewContainer",
  computed: {
    ...mapState({
      review: state => state.review.review
    })
  }
};
</script>

<style scoped></style>
