<template>
  <div id="reviewForm">
    <form @submit.prevent="onSubmit">
      <h3>Leave a review</h3>
      <div class="reviewDetail">
        <reviewContainer />
      </div>
      <label> Name:</label>
      <input type="text" v-model="name" placeholder="Enter your name..." />
      <label> Product:</label>
      <select id="product" v-model="selectProduct">
        <option v-for="product in products.products" :key="product.id"
          >{{ product.title }}
        </option>
      </select>
      <label> Review:</label>
      <textarea v-model="review" placeholder="Your review ..."></textarea>
      <label> Rating:</label>
      <select id="rating" v-model.number="rating">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import reviewContainer from "./reviewContainer.vue";
export default {
  name: "reviewForm",
  components: {
    reviewContainer
  },
  data() {
    return {
      name: "",
      selectProduct: "",
      review: "",
      rating: null
    };
  },
  methods: {
    ...mapActions(["reviewOfGuest"]),
    onSubmit() {
      if (
        this.name == "" ||
        this.selectProduct == "" ||
        this.review == "" ||
        this.rating == null
      ) {
        alert("This review is not completed . Please fill out again !!!");
      } else {
        const review = {
          name: this.name,
          selectProduct: this.selectProduct,
          review: this.review,
          rating: this.rating
        };
        this.reviewOfGuest(review);
        (this.name = ""),
          (this.selectProduct = ""),
          (this.review = ""),
          (this.rating = null);
      }
    }
  },
  computed: {
    ...mapState(["products"])
  }
};
</script>

<style scoped>
.reviewDetail {
  margin: 7px;
  padding: 5px;
  line-height: 1.4;
  text-align: center;
  font-size: 20px;
}

#reviewForm {
  padding: 15px;
}

form {
  width: 30%;
  border: 1px solid #04bf9d;
}

h3 {
  padding: 7px 15px;
  font-size: 25px;
  font-weight: bold;
  color: #cd0000;
}

label,
input {
  display: block;
  padding: 7px 15px;
}

input,
textarea,
select {
  margin-left: 15px;
}

input[type="text"] {
  width: 400px;
  height: 30px;
}

textarea {
  width: 400px;
  height: 70px;
  padding: 7px 15px;
}

select {
  width: 432px;
  height: 30px;
  padding: 7px 15px;
}

input[type="submit"] {
  margin: 15px 170px;
  background: grey;
}
</style>
